{% extends 'base.html.twig' %}

{% block title %}Hello ReservationPageController!
{% endblock %}

{% block body %}
<style>
	.flexx{
		    margin-bottom: auto;
	}
</style>
{% if app.user %}
	<div {{ react_component('Reservation', { 'date': date, 'semaine': semaine,'maxCouvert': 30, 'userMail' : app.user.email ,'userCouvert' : app.user.couvertDefault, 'userNum' : app.user.getNumeroTel, 'userAllergene' : app.user.getAllergene ,'userNom' : app.user.getReservationName } ) }}></div>
{% else %}
		<div {{ react_component('Reservation', { 'date': date, 'semaine': semaine, 'maxCouvert': 30} ) }}></div>
{% endif %}

<div class="flexx">
</div>
{% endblock %}
{% use "nav.html.twig" %}{% use "footer.html.twig"%}
